@font-face
  font-family: 'RadikalCss'
  src: font-url('Radikal.woff') format('woff'), font-url('Radikal.otf') format('opentype')
  font-weight: normal

@font-face
  font-family: 'RadikalCss'
  src: font-url('Radikal-Medium.woff') format('woff'), font-url('Radikal-Medium.otf') format('opentype')
  font-weight: 600

@font-face
  font-family: 'RadikalCss'
  src: font-url('Radikal-Bold.woff') format('woff'), font-url('Radikal-Bold.otf') format('opentype')
  font-weight: bold
