@import "compass/css3/flexbox"

.about
  .about-heading
    background: image-url('about.jpg') $about_background
    background-size: cover

  .section-heading
    padding: 140px 0
  .heading-title
    color: white
  .heading-text
    opacity: 0.8
    color: white

  .about-banner
    width: 100%
    height: 280px
    background: image-url('about-banner.jpg') $about_background center center

  .partners
    border-bottom: 1px solid $border_color
    overflow: auto
    text-align: center
    padding-top: 60px
    padding-bottom: 20px

  .partners-title
    font-size: 10px
    letter-spacing: 2px
    font-weight: normal
    text-transform: uppercase
    margin: 0 0 20px

  .partners-container
    +display-flex
    +flex-direction(row)
    +align-items(strech)

  .partner
    +flex(1)
    +display-flex
    +flex-direction(row)
    +align-items(center)
    +justify-content(center)
    height: 120px
    border-right: 1px solid $border_color
    &:last-child
      border: none

@media screen and (max-width: 640px)
  .about
    .section-heading
      padding: 70px 0

    .partners-title
      margin-bottom: 0

    .partners-container
      +flex-direction(column)

    .partner
      width: 100%
      height: 180px
      border-right: none
      border-bottom: 1px solid $border_color
