.hero
  padding: 110px 0 160px
  .heading
    max-width: 545px

  .heading-title
    font-size: 28px
    line-height: 46px
    margin: 0 0 10px
    em
      position: relative
      font-style: normal
      @extend .underline
      &:after
        margin-top: 4px
        border-color: $main_color

  .heading-subtitle
    font-size: 18px
    line-height: 30px
    margin: 0 0 20px

@media screen and (max-width: 640px)
  .hero
    margin: 54px 0 70px
