.cat-sans-quatre
  .overlay

  .cat-sans-quatre-text
    h1 Erreur cat sans quatre
    p Désolé, Sorry, Scusa, Sentimos, Undskyld, 申し訳ありません, la page que vous cherchez n’existe plus ou pas et vice et versa

    = link_to 'Page d’accueil des Design & Beers Talks', '/', class: 'button'
