section.hero
  .wrapper
    .heading
      h1.heading-title Les Design & Beers Talks se déroulent tous les derniers Lundis de chaque mois au <em>Ramblin’Man</em> à 19h00
      p.heading-subtitle = data.next_talk.description
      = link_to "S'inscrire Gratuitement", data.next_talk.registration_link, class: 'button', target: '_blank'

section#about.about
  .about-heading
    .wrapper
      .section-heading
        h2.heading-title À propos
        p.heading-text
          | Les Design &amp; Beers Talks sont faits pour les passionnés.
          br
          | Graphistes, illustrateurs, vidéastes, typographes, développeurs, tous le monde est le bienvenue.
          br
          br
          | Le but est simplement de se rencontrer et d’échanger en bonne compagnie.

  .about-banner

  .wrapper.partners
    h3.partners-title Merci à nos gentils partenaires
    .partner = link_to 'http://www.facebook.com/pages/The-Ramblin-Man/482979061753967?fref=ts', target: '_blank' do
      = image_tag 'ramblin-man-logo.svg'
    .partner = link_to 'http://adcglobal.org/', target: '_blank' do
      = image_tag 'adc-global-awards-and-club-logo.svg'

section#talks.talks
  .wrapper
    .section-heading
      h2.heading-title Talks
      p.heading-text
        | Envie de partager ton expérience sur un sujet lié au design ?
        br
        => mail_to 'hi@dbtalks.org', 'Contacte-nous'
        | dès maintenant.

    .talk-list
      - visible_talks = data.talks[0...4]
      - more_talks = data.talks[4..-1]
      .visible-talks
        - visible_talks.each do |talk|
          article.talk
            = link_to talk.url, class: 'talk-link' do
              .talk-author = talk.author
              .talk-text
                .talk-title = talk.title
                .talk-description = talk.description
              .talk-date
                time(datetime=talk.date) = I18n.localize talk.date, format: '%e %B %Y'

      .talk-list-more = "Afficher les #{more_talks.count} précédents talks"

      .more-talks
        - more_talks.each do |talk|
          article.talk
            = link_to talk.url, class: 'talk-link' do
              .talk-author = talk.author
              .talk-text
                .talk-title = talk.title
                .talk-description = talk.description
              .talk-date
                time(datetime=talk.date) = I18n.localize talk.date, format: '%e %B %Y'

section#team.team
  .wrapper
    .section-heading
      h2.heading-title Équipe
      p.heading-text
        | Notre équipe est composée à 99.9% d’humains passionnés, plus une licorne dite “Licorne des Internets”.
        br
        ' Pour plus de bonheur dans ta vie,
        => mail_to 'hi@dbtalks.org', 'rejoins-nous'
        | maintenant.

    .members
      - data.team.each do |member|
        .member(style="background-image: url(#{image_path 'team/' + member.photo});")
          .member-infos
            .member-infos-wrapper
              h5.member-name = member.name
              - if member.links && member.links.any?
                .member-links
                  - member.links.each do |type, url|
                    = link_to type, url, target: '_blank', class: 'member-link'



section#contacts.contacts
  .wrapper
    .section-heading
      h2.heading-title Contacts
      .heading-text
        p
          ' Tu peux nous contacter par
          = mail_to 'hi@dbtalks.org', 'Email'
          ' , sur
          => link_to 'Twitter', '//twitter.com/dbtalks_org', target: '_blank'
          ' ou sur
          = link_to 'Facebook', '//facebook.com/dbtalksbdx', tagret: '_blank'
          | .
          br
          | Si tu veux recevoir des alertes pour les prochains événement
        form(action="//dbtalks.us6.list-manage.com/subscribe/post?u=bee4b58125006c42caafc80fc&amp;id=15dc421226" method="post" target="_blank" novalidate="")
          label(for="mce-EMAIL") inscris-toi à la mailing list :
          .input
            input(type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Adresse Email" required="")
            input(type="submit" value="✍" name="subscribe")

    footer.footer
      p
        ' Si tu lis encore ici c’est que tu dois venir au prochain d&b talk →
        = link_to 'inscris-toi naooow!', data.next_talk.registration_link, target: '_blank'
        br
        | • In good karma we trust •
